node flow.json
[{"id":"5b59b2e0.e4356c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ef7f8c22.68158","type":"inject","z":"5b59b2e0.e4356c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"5","x":170,"y":220,"wires":[["7f05b1e6.5b7e5"]]},{"id":"7f05b1e6.5b7e5","type":"http request","z":"5b59b2e0.e4356c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Faridabad,IN&appid=ffe4ea9925ea41c8938f230dfbac2770","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":220,"wires":[["23a99fba.a53d3","a2251a07.6438a8","a5026db2.0bd11","c06c3d8e.d626c","c1e6ab49.4fad38","d2437d1e.5c37d","a8257362.33068"]]},{"id":"b248a203.da2ad","type":"ibmiot out","z":"5b59b2e0.e4356c","authentication":"apiKey","apiKey":"c9330b1e.519898","outputType":"cmd","deviceId":"iot123456","deviceType":"iot_project","eventCommandType":"command","format":"json","data":"string","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":920,"wires":[]},{"id":"9beefff2.f2c92","type":"ui_button","z":"5b59b2e0.e4356c","name":"Motor On","group":"4e17b3c2.6b6b9c","order":1,"width":0,"height":0,"passthru":true,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"MOTOR ON","x":180,"y":840,"wires":[["b248a203.da2ad","cfa7fe23.e2a77","d094858.0b86e78"]]},{"id":"1bbef265.15b7ce","type":"ui_button","z":"5b59b2e0.e4356c","name":"","group":"4e17b3c2.6b6b9c","order":2,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"MOTOR OFF","x":170,"y":980,"wires":[["b248a203.da2ad","cfa7fe23.e2a77","d094858.0b86e78"]]},{"id":"ceb35a9d.f77ae8","type":"ui_gauge","z":"5b59b2e0.e4356c","name":"","group":"5a351c96.e28cf4","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"degree celcius","format":"{{value}}","min":0,"max":"100","colors":["#25e425","#f4f410","#ee1111"],"seg1":"","seg2":"","x":950,"y":500,"wires":[]},{"id":"c0d07831.1e4798","type":"ui_gauge","z":"5b59b2e0.e4356c","name":"","group":"5a351c96.e28cf4","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#19f019","#eeee2b","#e01f1f"],"seg1":"","seg2":"","x":940,"y":560,"wires":[]},{"id":"23a99fba.a53d3","type":"debug","z":"5b59b2e0.e4356c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":220,"wires":[]},{"id":"71c5b313.5f9e3c","type":"ui_text","z":"5b59b2e0.e4356c","group":"132ecd74.01e533","order":1,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":280,"wires":[]},{"id":"3c33ca32.454736","type":"ui_gauge","z":"5b59b2e0.e4356c","name":"","group":"5a351c96.e28cf4","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#15e015","#f2f226","#f20707"],"seg1":"","seg2":"","x":950,"y":620,"wires":[]},{"id":"dfff20b2.4cf17","type":"ibmiot in","z":"5b59b2e0.e4356c","authentication":"apiKey","apiKey":"c9330b1e.519898","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"agro123456","applicationId":"","deviceType":"agroapp_2.0","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":190,"y":580,"wires":[["79884723.3adae8","ca92dac2.e8d728","607162ad.7a58ec","9dd31a8e.bea278"]]},{"id":"a2251a07.6438a8","type":"function","z":"5b59b2e0.e4356c","name":"Pressure","func":"msg.payload=msg.payload.main.pressure \nreturn msg;","outputs":1,"noerr":0,"x":620,"y":40,"wires":[["cbe6e193.2d0c1"]]},{"id":"a5026db2.0bd11","type":"function","z":"5b59b2e0.e4356c","name":"Temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["eebe4fad.449c7"]]},{"id":"c06c3d8e.d626c","type":"function","z":"5b59b2e0.e4356c","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["81c58b49.b8aa38"]]},{"id":"c1e6ab49.4fad38","type":"function","z":"5b59b2e0.e4356c","name":"Location","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["71c5b313.5f9e3c"]]},{"id":"d2437d1e.5c37d","type":"function","z":"5b59b2e0.e4356c","name":"Wind Speed","func":"msg.payload=msg.payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["155086f5.419a89"]]},{"id":"79884723.3adae8","type":"function","z":"5b59b2e0.e4356c","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":500,"wires":[["ceb35a9d.f77ae8"]]},{"id":"ca92dac2.e8d728","type":"function","z":"5b59b2e0.e4356c","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":560,"wires":[["c0d07831.1e4798"]]},{"id":"cfa7fe23.e2a77","type":"debug","z":"5b59b2e0.e4356c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":1000,"wires":[]},{"id":"607162ad.7a58ec","type":"function","z":"5b59b2e0.e4356c","name":"Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["3c33ca32.454736"]]},{"id":"9dd31a8e.bea278","type":"debug","z":"5b59b2e0.e4356c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":680,"wires":[]},{"id":"c4d0807c.0e327","type":"ui_text","z":"5b59b2e0.e4356c","group":"132ecd74.01e533","order":2,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":400,"wires":[]},{"id":"a8257362.33068","type":"function","z":"5b59b2e0.e4356c","name":"Weather","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":400,"wires":[["c4d0807c.0e327"]]},{"id":"d094858.0b86e78","type":"change","z":"5b59b2e0.e4356c","name":"Motor Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":840,"wires":[["7bc81d53.b520f4"]]},{"id":"7bc81d53.b520f4","type":"ui_toast","z":"5b59b2e0.e4356c","position":"top right","displayTime":"1000","highlight":"black","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"STATUS","x":940,"y":840,"wires":[]},{"id":"cbe6e193.2d0c1","type":"ui_text","z":"5b59b2e0.e4356c","group":"132ecd74.01e533","order":6,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}} mbar","layout":"row-spread","x":940,"y":40,"wires":[]},{"id":"eebe4fad.449c7","type":"ui_text","z":"5b59b2e0.e4356c","group":"132ecd74.01e533","order":3,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} kelvin","layout":"row-spread","x":950,"y":100,"wires":[]},{"id":"81c58b49.b8aa38","type":"ui_text","z":"5b59b2e0.e4356c","group":"132ecd74.01e533","order":4,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":940,"y":160,"wires":[]},{"id":"155086f5.419a89","type":"ui_text","z":"5b59b2e0.e4356c","group":"132ecd74.01e533","order":5,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":950,"y":340,"wires":[]},{"id":"c9330b1e.519898","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"4e17b3c2.6b6b9c","type":"ui_group","z":"","name":"MOTOR CONTROL","tab":"3dd89d06.051cb2","order":2,"disp":true,"width":"6","collapse":false},{"id":"5a351c96.e28cf4","type":"ui_group","z":"","name":"IBM IOT SENSOR DATA","tab":"b62f2629.29d188","order":1,"disp":true,"width":"6","collapse":false},{"id":"132ecd74.01e533","type":"ui_group","z":"","name":"OPEN WHEATHER API","tab":"563359b4.96aba8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3dd89d06.051cb2","type":"ui_tab","z":"","name":"MOTOR CONTROL","icon":"fa-wrench","order":3,"disabled":false,"hidden":false},{"id":"b62f2629.29d188","type":"ui_tab","z":"","name":"IBM IOT SENSOR DATA","icon":"fa-thermometer-2","order":1,"disabled":false,"hidden":false},{"id":"563359b4.96aba8","type":"ui_tab","z":"","name":"OPEN WHEATHER API","icon":"wi-wu-sunny","order":2,"disabled":false,"hidden":false}]